#owl-demo .item{
        background: #fff;
        margin: 10px;
        min-height: 390px;
        color: #949494;
        text-align: center;
		border: 1px solid #ddd;
		border-radius: 10px;
		-webkit-border-radius: 10px;
    }
    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  .measurement,.size_chart,.product_customize .shipping{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* .measurement .hidden_toggle, .size_chart .hidden_toggle, .shipping .hidden_toggle{
    right: auto !important;
    top: auto !important;
    bottom: 30px !important;
    left: 30px !important;
} */


.site-header.menu-sticky .site-header-top .site-header-top{
    display: none;
}

.shop_category_desc{
    margin: 0 0 50px;
}

.search-form .search-submit .screen-reader-text {
    display: contents !important;
}
