
.error404 {
	#page {
		background:url(images/bg_404.png) repeat;
	}
}
.error-404 {
	overflow:hidden;
	padding:40px 0;
	margin:30px 0 0;
	text-align:center;
	background:#fff;
	@include transition();
	&:hover {
		@include box-shadow($shadow);
	}
	.page-header {
		padding:0;
		margin:0;
		border:0;
		.page-title {
			margin:0 0 5px;
		}
	} 
	.number-404 {
		font-size:120px;
	}
	.page-content {
		p {
			margin:0 0 50px;
		}
	}
}