/* SEARCH */
body {
	&.search {
		.page-header {
			display:none;
		}
		.content_blog {
			article {
				background:#fff;
				padding:15px;
				margin:0 0 30px;
				@include transition();
				.seach_content {
					@extend %clearfix;
				}
				.seach_thumbnail {
					max-width:300px;
					float:left;
				}
				&:hover {
					@include box-shadow($shadow);
				}
			}
		}
	}
}