/* ============================================== 
   = REVOLUTION */
.wpb_revslider_element {
	margin-bottom:0!important;
}   

.custom {
	&.tparrows {
		width:90px;
		height:190px;
		background:transparent;
		@include transition();
		&:before {
			@include pos(absolute,50%,auto,auto,50%);
			width:34px;
			height:137px;
			margin-left:-17px;
			margin-top:-68px;
			background:url(images/image.png) no-repeat;
		}
		&.tp-leftarrow {
			&:before {
				content:"";
				background-position:0 0;
			}
		}
		&.tp-rightarrow {
			&:before {
				content:"";
				background-position:-34px 0;
			}
		}
		&:hover {
			background:rgba(255,255,255,0.6);
		}
	}
}